doctype=html
html
	head
		title PRAK
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel="stylesheet" href="https://rsms.me/inter/inter.css")
		link(href="output.css" rel="stylesheet")
	body
		.app
		script(src='https://cdn.socket.io/3.1.3/socket.io.min.js' integrity='sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh' crossorigin='anonymous')
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
		script.
			var socket = io();
			new Vue({
				el:'.app',
				template:`
					<h1>PRAK</h1>
				`
			})