<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import HelloWorld from "./components/HelloWorld.vue";
import StackList from "./components/StackList.vue";
import TailH1 from "./components/TailH1.vue";
import { useHead } from "@vueuse/head";
import { computed } from "vue";
useHead({
  // Can be static or computed
  title: computed(() => "PRAK"),
  meta: [
    {
      name: `description`,
      content: computed(() => "DESCRIPTION"),
    },
  ],
});
</script>

<template>
  <div>
    <a href="https://vitejs.dev" target="_blank"> LOGO#1 </a>
    <a href="https://vuejs.org/" target="_blank"> LOGO#2 </a>
  </div>
  <TailH1 />
  <HelloWorld msg="Vite2 + Vue" />
  <StackList />
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
